<head>
    <title> Registrar Snackbar </title>
    <link href="/css/sb-admin-2.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="bg-gradient-primary">
    <div class="container">
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Cadastrar Snackbar</h1>
                            </div>
                            <form method="post" class="user" enctype="multipart/form-data">
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <label class="label">Nome do Snackbar <span class="span">*</span></label>
                                        <input type="text" class="form-control form-control-user" name="snackBarName"
                                            placeholder="ex: Trufas da Mamãe" required>
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="label">CNPJ <span class="span">*</span></label>
                                        <input type="text" class="form-control form-control-user ls-mask-cnpj"
                                            name="CNPJ" placeholder="00.000.000/0000-00" data-mask="00.000.000/0000-00"
                                            data-mask-reverse="true" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="label">Tipo de Snackbar <span class="span">*</span></label>
                                    <input type="text" class="form-control form-control-user" name="typeFood"
                                        placeholder="ex: Trufas, Hamburgueria, Sorveteria..." required>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <label class="label">Credencial <span class="span">*</span></label>
                                        <input type="text" class="form-control form-control-user" name="credencial"
                                            placeholder="ex: trufasmamae10" required>
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="label">Senha <span class="span">*</span></label>
                                        <input type="password" class="form-control form-control-user" name="password"
                                            placeholder="**********" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="label">Logotipo do Snackbar <span class="span">*</span></label><br>
                                    <input type="file" name="logoSnackbar" required>
                                </div>
                                <button type="submit" class="btn btn-primary btn-user btn-block">
                                    Registrar
                                </button>
                                <hr>
                            </form>
                            <div class="text-center">
                                <a class="small" href="login.html">Já tem uma conta?</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>