body {
	margin-top: 10%;
	font-family: sans-serif;
	color: #fff;
	background: #272729;
  overflow: none;
}

.plan {
  display: inline-block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.rows--mini {
  width: 230px;
  margin: 0 auto;
}

.row--table {
  display: -webkit-flex;
  display: flex;
  width: 100%;
}

.rows--mini .row:nth-child(9) {
  margin: 0 0 15px 0;
}

.row__seat {
  -webkit-flex: none;
  flex: none;
  height: 100%;
  margin: 0;
}

input[type="checkbox"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: auto;
  border-radius: 1px !important;
  width: 10px;
  height: 10px;
  appearance: none;
  background-color: rgba(72, 72, 78, 0.5);
}

input[type="checkbox"]:checked {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: auto;
  border-radius: 1px !important;
  width: 10px;
  height: 10px;
  appearance: none;
  background-color: #21c252;
}

input[type="checkbox"]:disabled {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: auto;
  border-radius: 1px !important;
  width: 10px;
  height: 10px;
  appearance: none;
  background-color: #de6363;
}

input[type="checkbox"].anticovid:disabled  {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: auto;
  border-radius: 1px !important;
  width: 10px;
  height: 10px;
  appearance: none;
  background-color: #dfc502;
}

.rows--mini .row__seat {
  width: 10px;
  height: 10px;
  background: rgba(72, 72, 78, 0.5);
  margin: 1px;
  border-radius: 1px;
  cursor: pointer;
}

.rows--mini .row__seat:hover {
  background: #57e683;
}

.rows--mini .row__seat--reserved, .rows--mini .row__seat--reserved:hover {
  background: #de6363;
  cursor:default;
}

.rows--mini .row__seat--anticovid, .rows--mini .row__seat--anticovid:hover {
  background: #dfc502;
  cursor:default;
}

.rows--mini .row__seat:nth-child(9) {
  margin-right: 15px;
}

.row__seat:nth-child(9) {
  margin-right: 160px;
}

.plan--shown {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}

.plan__title {
  text-align: center;
  font-size: 1em;
}

.legend {
  list-style: none;
  margin: 1em 0 0 0;
  padding: 0;
  text-align: center;
}

.legend__item {
  font-size: 0.85em;
  font-weight: bold;
  margin: 0 9px 0 0;
  display: inline-block;
}

.legend__item::before {
  content: '';
  width: 10px;
  height: 10px;
  display: inline-block;
  margin: 0 5px 0 0;
  border-radius: 2px;
  background: rgba(72, 72, 78, 0.5);
}

.legend__item--reserved::before {
  background: #de6363;
  cursor:none;
}

.legend__item--selected::before {
  background: #21c252;
}

.legend__item--free::before {
  background: rgba(72, 72, 78, 0.5);
}

.legend__item--anticovid::before {
  background: #dfc502;
}

/* Tooltip */

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip::before, .tooltip::after {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  left: 50%;
}

.tooltip:hover::before, .tooltip:hover::after {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
  transition: opacity 0.3s ease, transform 0.3s ease;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.tooltip::before {
  bottom: 100%;
  border: solid transparent;
  content: '';
  height: 0;
  width: 0;
  z-index: 1001;
  pointer-events: none;
  border-color: transparent;
  border-top-color: #5768e6;
  border-width: 6px;
  margin-left: -6px;
  -webkit-transform: translate3d(0, 5px, 0);
  transform: translate3d(0, 5px, 0);
}

.tooltip:hover::before {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.tooltip::after {
  content: attr(data-tooltip);
  background: #5768e6;
  border-radius: 3px;
  color: #fff;
  font-weight: bold;
  z-index: 1000;
  font-size: 14px;
  padding: 8px 10px;
  bottom: 100%;
  -webkit-transform: translate3d(-50%, -5px, 0);
  transform: translate3d(-50%, -5px, 0);
}

.tooltip:hover::after {
  -webkit-transform: translate3d(-50%, -10px, 0);
  transform: translate3d(-50%, -10px, 0);
}

.action {
  border: none;
  padding: 0;
  background: none;
  margin: 0;
  font-size: 2em;
  font-weight: 700;
  color: #fff;
}

.action:hover, .action:focus {
  outline: none;
}

.action--buy {
  margin: 1em auto;
  background: #26AD4F;
  font-size: 1em;
  width: 100%;
  padding: 0.75em 1.5em;
  border-radius: 3px;
  display: block;
  max-width: 230px;
  cursor: pointer;
}

.action--buy:hover {
  background: #21c252;
}

.plan {
  display: flex;
  height: 100%;
  margin-top: auto;
  margin-bottom: auto;
}

@media screen and (max-width: 50em), screen and (max-height: 38em) {
  .container {
    visibility: hidden;
    pointer-events: none;
    z-index: -1;
    position: absolute;
  }
  .plan {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    position: relative;
    margin: 0 auto;
  }
  .rows--mini .row__seat:hover {
    background: rgba(72, 72, 78, 0.5);
  }
}